@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

body{
    background: URL(https://images.wallpaperscraft.com/image/single/night_city_view_from_above_night_117531_1280x720.jpg);
    /* background: rgb(255, 64, 64); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    margin: 0;
    padding: 0;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
}

label{
    font-size: 1.5rem;
}

nav{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

form{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    border-radius: 1rem;
    border: 1px solid white;
    opacity: 0;
    top: 4rem;
    transition: opacity 0.5s ease-in-out;
    font-size: 1.5rem;
    padding: 3rem;
    /* min-width: 350px; */
    width: 30%;
    height: fit-content;
    position: absolute;
    background: rgb(54,54,54);
    background: -moz-linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(83,82,85,0.6250875350140056) 57%, rgba(54,54,54,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(83,82,85,0.6250875350140056) 57%, rgba(54,54,54,1) 100%);
    background: linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(83,82,85,0.6250875350140056) 57%, rgba(54,54,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#363636",endColorstr="#363636",GradientType=1);
}

.welcome{
    display: flex;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: black;
    color: white;
    height: fit-content;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 1rem;
    margin: 7rem 0 1rem 0;
    border: 1px solid white;
    z-index: 10;
    background: rgb(54,54,54);
    background: -moz-linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(83,82,85,0.6250875350140056) 57%, rgba(54,54,54,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(83,82,85,0.6250875350140056) 57%, rgba(54,54,54,1) 100%);
    background: linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(83,82,85,0.6250875350140056) 57%, rgba(54,54,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#363636",endColorstr="#363636",GradientType=1);
}

@media (max-width: 1000px){
    form{
        width: 90%;
        padding: 1rem;
        border-radius: 0;
        margin: 0;
    }
 }   

@media (max-width: 500px){
    nav{
        width: 100%;
        font-size: 2rem;
    }
    nav img{
        width: 150px;
    }
    html{
        max-width: 100%;
    }
    .welcome{
        width: 80%
    }
}

li{
    display: block;
}

input, select{
    width: 60%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.5px solid black;
    margin: 7px 0 7px 0;    
    transition: width 0.4s ease-in-out
}

input:hover{
    border: 0.5px solid white;
}

.expand:focus{
    width: 70%;
}

.phone{
    width: 100%;
}

.phoneSelect{
    width: 40%;
}

.phoneDiv{
    display: flex;
}

.footer{
    background-color: black;
    height: 10vh;
}

.errors{
    background-color: rgba(223, 138, 138, 0.767);
    color: white;
    border: 0.5px solid red;
    width: 80%;
    text-align: center;
    padding: 0.5rem;
    align-self: center;
    text-align: center;
}

.errors ul{
    font-size: 1rem;
}

.errorline{
    color: red;
    font-size: 1rem;
    display: block;
    font-weight: bold;
}


.welcomeButton{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bolder;
}

.hidden{
    display: none;
}

.Button{
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.6rem;
    width: 10rem;
    color: white;
    background: rgb(255, 64, 64);
    border: 1px solid black;
    align-self: center;
    transition: ease-in 0.5s;
    box-shadow: inset 0 0 0 0 white;
}

.Button:hover{
    border: 1px solid rgb(255, 64, 64);
    color: rgb(255, 64, 64);
    font-weight: bolder;
    box-shadow: inset 0 0 300px 0 white;
    cursor: pointer;
}


.comment{
    font-size: 1rem;
    color: rgb(185, 180, 180)
}

.ageDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.agePosition{
    background: rgb(255, 64, 64);
    border: 1px solid white;
    padding: 0.4rem;
}

.ageInput{
    -webkit-appearance: none;
    background: rgb(255, 64, 64);
    outline: none;
    border-radius: 15px;
    overflow: hidden;

    padding: 0;
    border: none
}

.ageInput::-webkit-slider-thumb{
    -webkit-appearance: none;
    border-radius: 15%;
    cursor: pointer;
    width: 20px;
    height: 15px;
    background: rgb(255, 255, 255);
}

.check{
    width: auto;
    position: absolute;
    right: 10px;
}

.check:hover{
    width: auto;
}

#terms{
    margin-right: 4rem;
    color: rgb(255, 64, 64);
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}

.termsandconditions{
    display: flex; 
    align-items: flex-start; 
    justify-content: flex-start;
    width: 100%; 
    font-size: 1.1rem; 
    margin-top: 2rem;
    position: relative;
}

#terms:hover{
    color: white;
}

#logoApplaudo{
    width: 200px;
}

@media (max-width: 500px){
    #logoApplaudo{
        width: 100px;
    }
}

/* MODAL */

.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(255, 64, 64);
    margin: 15% auto; 
    padding: 2rem;
    border: 1px solid white;
    color: white;
    font-weight: bolder;
    width: fit-content 
  }

  @media (max-width: 700px){
    .modal-content img{
        height: 100px;
    }
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
  }

  /* SCROLLBAR */

  ::-webkit-scrollbar{
      width: 15px;
  }

  ::-webkit-scrollbar-track{
      border-radius: 5px;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  }

  ::-webkit-scrollbar-thumb{
      border-radius: 5px;
      background-color: rgb(255, 64, 64);
  }

  ::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 64, 64, 0.904);
}